body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rowHeader {
  background-color: antiquewhite;
  float: left;
} 

.DNAseq {
  background-color: rgb(236, 255, 249);
}

td {
  margin-bottom: -5000px; padding-bottom: 5000px;
}

.DNAletter:hover {
  background-color: cadetblue;
}

.Complement {
  background-color: rgb(255, 230, 221);
}

ul {
  margin: auto;
  list-style-type: none;
}

li {
  display: inline;
}

div{
  white-space:nowrap;
  margin: 0;
}